<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	I have been working at a dead end job for almost three years. Don't ask me why (something about the economy). I want something better. And this is my chance. Oh, and why not blog about it while I'm at it?
</p>